---
import Layout from "./Layout.astro"
import { DocsNavigation } from "../components/DocsNavigation.tsx"
import "../styles/layout-docs.css"
---

<Layout>
	<article class="docs-layout">
		<DocsNavigation client:load transition:persist />
		<main>
			<slot />
		</main>
	</article>
</Layout>
