app-shell.class {
	position: relative;
	overflow-x: hidden;
	display: flex;
	flex-flow: column;
	min-height: 100svh;
	height: auto;

	code {
		font-family: Theia, monospace !important;
		font-weight: 500;
		font-size: 15px;
		color: var(--fg-soft-1);
		padding: 1px 2px;
	}
	a, a > code {
		--fg-color: var(--hyperlink-color);
		color: var(--fg-color);
		font-weight: 500;
		font-variation-settings: "wght" 500;
		text-decoration: inherit;
		&:hover {
			--fg-color: var(--hyperlink-hover-color);
			text-decoration: underline;
		}
		&:visited {
			--fg-color: var(--hyperlink-visited-color);
		}
	}

	> * {
		@media screen and (min-width: 960px) {
			padding: 1em;
		}
	}
	> header {
		position: fixed;
		width: calc(100% - 0.5em);
		top: 0;
		z-index: 120;
		margin: 0.25em;
		border-radius: 2em;
		--nav-background: var(--bg-soft-glass-1);
		--nav-backdrop-filter: blur(15px);
		--nav-box-shadow: 0 1px 10px 1px var(--bg-shadow-1);
		background: var(--nav-background);
		backdrop-filter: var(--nav-backdrop-filter);
		box-shadow: var(--nav-box-shadow);
		border: 1px solid var(--bg-soft-glass-3);
		border-bottom-width: 2px;
		border-top-width: 2px;
		border-right: #0006;
		border-left: #0006;

		@media screen and (max-width: 960px) {
			margin-top: 0.75em;
		}
		@media screen and (min-width: 960px) {
			background: none;
			border: none;
			backdrop-filter: none;
			box-shadow: none;
			width: 100%;
			margin: 0;
			padding: 1em;
			> nav {
				> left-side, > right-side {
					padding: 1em 1.5em;
					border-radius: 2em;
					background: var(--nav-background);
					backdrop-filter: var(--nav-backdrop-filter);
					box-shadow: var(--nav-box-shadow);

					border: 1px solid var(--bg-soft-glass-3);
					border-bottom-width: 2px;
					border-top-width: 2px;
					border-right-color: var(--bg-soft-glass-1);
					border-left-color: var(--bg-soft-glass-1);
				}
			}
		}

		> nav {
			display: flex;
			flex-flow: row;
			gap: 1em;
			> gap-between {
				flex-grow: 1;
			}
			> right-side {
				justify-content: flex-end;
			}
			> left-side, > right-side {
				display: flex;
				gap: 16px;
				padding: 0 20px;
				align-items: center;

				> a {
					font-family: Theia;
					align-items: center;
					align-content: center;
					height: 100%;
					padding-bottom: 1px;

					> brand-name {
						font-family: Theia;
						color: var(--brand-color);
					}
				}
				> span {
					height: 100%;
					width: 1px;
					background: var(--bg-soft-glass-3);
				}
			}
			> left-side {
				> a {
					display: inline-flex;
					margin-left: -10px;
					> astro-island {
						display: inline-flex;
						width: 45px;
						height: 45px;
						margin-right: 4px;
					}
				}
			}
		}
	}

	> main {
		margin-top: 2em;
		flex-grow: 1;
		display: flex;
		flex-flow: column;
		position: relative;
		background-color: var(--bg-color);
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: url(/noise.svg) repeat;
			background-size: 1024px;
			background-position: center;
			opacity: 1;
			mix-blend-mode: soft-light;
			@media (prefers-color-scheme: light) {
				mix-blend-mode: multiply;
				opacity: 0.5;
			}
		}
		> banner-message {
			pointer-events: none;
			user-select: none;
			z-index: 130;
			position: absolute;
			line-height: 27px;
			top: -33px;
			left: 0;
			display: flex;
			width: calc(100% - 0.5em);
			justify-content: center;
			> span {
				align-items: flex-end;
				display: flex;
				background: var(--bg-soft-glass-1);
				color: var(--fg-soft-3);
				backdrop-filter: blur(15px);
				padding: 2px 12px;
				border-radius: 10px;
				font-size: 15px;
				font-weight: 600;
				box-shadow: 0 1px 10px 1px var(--bg-shadow-1);
			}

			@media screen and (min-width: 960px) {
				top: -29px;
				> span {
					background: none;
					backdrop-filter: none;
					box-shadow: none;
				}
			}
		}
	}

	> footer {
		padding: 20px 10px;
		display: flex;
		flex-flow: row;
		justify-content: space-between;
		z-index: 100;
		background: var(--bg-shade-2);
		position: relative;
		> span > a {
			color: var(--fg-soft-1);

			&:visited {
				color: inherit;
			}
			&:hover {
				color: inherit;
				text-decoration: underline;
			}
			> code {
				color: var(--fg-soft-1);
			}
		}
	}
}
