---
import Layout from "../layouts/Layout.astro"
import { Dz2Orbital } from "../components/Dz2Orbital"
import packageJson from "atom.io/package.json"
import css from "./index.module.css"
---

<Layout>
	<Dz2Orbital data-variant="splash" client:only />
	<home-splash class={css.class}>
		<title-lockup>
			<h1>
				<span>atom</span>
				<span>.io</span>
			</h1>
			<npm-description>
				{packageJson.description}
			</npm-description>
			<cta-links>
				<a href="/docs/getting-started">
					Get Started
				</a>
				<a href="/docs">
					Read the Docs
				</a>
			</cta-links>
		</title-lockup>
	</home-splash>
</Layout>
