dynamic-spotlight.class {
	position: fixed;
	&:first-of-type {
		background: var(--bg-soft-glass-2);
		backdrop-filter: blur(20px);
		box-shadow: 0 1px 20px 1px var(--bg-shadow-2);
		border-radius: 10px;
		z-index: -1;
		transition:
			width 0.2s ease-in-out,
			height 0.2s ease-in-out,
			top 0.2s ease-in-out,
			left 0.2s ease-in-out;
		~ dynamic-spotlight {
			background: var(--bg-shade-2);
		}
	}
	&:last-of-type {
		background: var(--bg-hard-2);
		border-radius: 5px;
		border: 1px solid var(--hyperlink-color);
		z-index: -1;
		transition:
			width 0.2s ease-in-out,
			height 0.2s ease-in-out,
			top 0.2s ease-in-out,
			left 0.2s ease-in-out;
	}
}
