dz2-orbital.class {
	display: block;
	pointer-events: none;

	&[data-variant="splash"] {
		position: fixed;
		inset: 0;
		z-index: 0;
		width: 200vw;
		left: -50svw;
		height: 200svh;
		top: -50svh;
		mix-blend-mode: overlay;

		@media screen and (prefers-color-scheme: light) {
			mix-blend-mode: multiply;
		}
	}

	&[data-variant="mark"] {
		position: relative;
		width: 100%;
		height: 100%;
		/* mix-blend-mode: normal; */
	}
	&[data-variant="splash"] {
		@media screen and (prefers-color-scheme: light) {
			opacity: 0.25;
		}
	}

	> canvas {
		display: block;
		width: 100%;
		height: 100%;
	}
}
