:root {
	--base-color: var(--fg-hard-1);
	--comment-color: var(--fg-soft-3);
	--keyword-color: var(--fg-soft-1);
	--punctuation-color: var(--fg-soft-2);
	--operator-color: var(--fg-soft-1);

	--type-color: rgb(252, 111, 203);
	--function-color: rgb(221, 149, 255);

	--boolean-color: gold;
	--null-color: gold;
	--number-color: gold;
	--string-color: gold;
	@media (prefers-color-scheme: light) {
		--type-color: rgb(243, 12, 162);
		--function-color: rgb(160, 1, 233);

		--boolean-color: rgb(160, 136, 0);
		--null-color: rgb(160, 136, 0);
		--number-color: rgb(160, 136, 0);
		--string-color: rgb(160, 136, 0);
	}
}
